:root {
    --primery-text-color: #212121;
    --title-text-color: #212121;
    --text-color: #757575;
    --accent-color: #2196F3;
    --primary-background-color: #FFFFFF;
    --hero-background: #2F303A;
    --rgba-footer: rgba(255, 255, 255, 0.6);
    --portfolio-color-button: #F5F4FA;
    --background-color: #C4C4C4;
    --social-icon-color: #AFB1B8;
}



body{
    font-family: 'Roboto', sans-serif;
    color: var(--primery-text-color);
    background-color: var(--primary-background-color);
}

h1, h2, h3, p {
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    display: block;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

.button {
    cursor: pointer;
  }

  .section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

    /* логотип  logo */

    .logo {
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        line-height: 1.2;
        letter-spacing: 0.03em;
    
        color: var(--accent-color);
        margin-right: 93px;;
    }
    
    .logo-dark {
        color: var(--primery-text-color);
    }
    
    .logo-light {
        color: var(--primary-background-color);
    }

        /* Шапка */

    .header {
        border-bottom: 1px solid #ECECEC;
        } 

    .header-container {
        display: flex;
        align-items: center; 
        padding-top: 24px;
        padding-bottom: 25px;
    
    }

    .navigations {
        display: flex;
        align-items: center;
    }

    /* menu */

    .menu {
        display: flex;
        padding: 0;
    }

     

    .contact-list {
        display: flex;
        padding: 0;
        margin-left: auto;
    }

    .contact-item:not(:last-child) {
        margin-right: 50px;
    }


    .menu-item{
    position: relative;
    /* font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em; */
}

    .menu-item:not(:last-child) {
        margin-right: 50px;
    }

    .menu-link.current {
        color: var(--accent-color);
    }

    .menu-link {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
    
        color: var(--primery-text-color);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    /* .menu-link.current {
        color: var(--accent-color);
    } */
    
    .menu-link:hover,
    .menu-link:focus {
        color: var(--accent-color)
    }

    .menu-link.current::after {
        position: absolute;
        display: block;
        content: '';
        width: 100%;
        height: 4px;
        border-radius: 2px;
        left: 0;
        bottom: -32px;
    
        background-color: var(--accent-color);
        }

    .menu-link:hover,
    .menu-link:focus {
    color: var(--accent-color);
}

    .maile-icone{
        margin-right: 10px;
        fill: var(--text-color);
     }
    
    .mail-header {
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--text-color);
    }
    
    .mail-header:hover,
    .mail-header:focus {
        color: var(--accent-color)
    }


    .phone-icone{
        margin-right: 10px;
        fill: var(--text-color);
    }
    
    .phone-number-header {
        display:flex;
        align-items: center;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--text-color);
    }
    
    .phone-number-header:hover,
    .phone-number-header:focus {
        color: var(--accent-color);
    }


   

/* maine hero */
.hero{
    background-color:var(--hero-background);
    text-align:center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.overlay{
    background-image:linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),url(../images/bg_studio.jpeg) ;
    width: 1600px;
    height: 600px;
    /* left: 0px;
    top: 80px; */
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-tite {
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-background-color);
    margin:auto
}


/* botton */

.hero-button {
    min-width: 200px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    border-color: transparent;
    color: var(--primary-background-color);
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-top: 30px;
    padding: 10px 32px;
    cursor: pointer;
    

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
    background-color: #188CE8;
}


    /* font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em; */

    /* color: var(--primary-background-color);
    background: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px; */


/* section class="description" */
.specialization-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.specialization-text {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;

    color: var(--text-color);
}

.specialization-item {
    flex-basis: calc((100% - 90px) / 4);
}

.specialization-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    border-radius: 4px;
    background: var(--portfolio-color-button);
    margin-bottom: 30px;
}



.specialization-list {
    display: flex;
    
}
.specialization-item:not(:last-child) {
    margin-right: 30px;
}

/* our work */

.our-team-item{
    flex-basis:calc((100% - 90px) / 3) ;
}

.our-work {
    padding-top: 0;
}

.our-work-list {
    display: flex;
    justify-content: center;
}

.our-work-item:not(:last-child){
    margin-right: 30px;

}

.our-work-item {
    position: relative;
}

.our-work-text{
    position: absolute;
    display: flex;
    left: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;

    background: rgba(47, 48, 58, 0.8);
    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

/* our team */

.our-team {
    background-color: var(--portfolio-color-button);
}

.our-team-item {
    background: var(--primary-background-color)
}

.our-team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.our-team-text {
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;

    color: var(--text-color);
}

.our-team-list {
    display: flex;
    justify-content: center;
}

.our-team-card {
    padding-top: 30px;
    padding-bottom: 30px;
}

.our-team-item:not(:last-child) {
    margin-right: 30px;
}

.our-team-item {
    background: var(--primary-background-color);
    flex-basis: calc((100% - 90px) / 4);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.our-team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 10px;
}

.our-team-text {
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 16px;
    color: var(--text-color);
}

.our-team {
    background-color: var(--portfolio-color-button);
}

/* our client */

.our-clients-item {
    flex-basis: calc((100% - 150px) / 6);
}

.our-clients-icon {
    fill: var(--social-icon-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-clients-list {
    display: flex;
}

.our-clients-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-clients-item:not(:last-child) {
    margin-right: 30px;
}

.our-clients-link:hover,
.our-clients-link:focus {
    border: 1px solid var(--accent-color);
}

.our-clients-link:hover .our-clients-icon,
.our-clients-link:focus .our-clients-icon {
    fill: var(--accent-color);
}



/* иконки на соц сети */

.social-list {
    display: flex;
    justify-content: center;
}

.social-list-item:not(:last-child) {
    margin-right: 10px;
}
.social-list-icon {
    fill: var(--social-icon-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--primary-background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-background-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.social-list-link:hover,
.social-list-link:focus {
    background-color: var(--accent-color);
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
    fill: var(--primary-background-color);
}

.social-list-icon {
    fill: var(--social-icon-color)
}


/* footer */

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
}

.container-footer{
    display: flex;
    align-items: baseline;
}

.navigation-footer {
    display: flex;
    align-items: baseline;
    flex-direction: column;
}

.logo-footer {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;

    color: var(--accent-color);
}


.address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    margin-top: 20px;
}

.contact-list{
    display: flex;
    padding: 0;
    margin-left: auto;
}

.contact-list-footer-item:not(:last-child) {
    margin-bottom: 9px;
}

.contact-list-item:not(:last-child) {
    margin-bottom: 9px;
}

.contact-footer:not(:last-child) {
    margin-bottom: 9px;
}

.contact-link {
    color: var(--primary-background-color);
}

.contact-link:hover,
.contact-link:focus {
    color: var(--accent-color)
}

/*MAIL FOOTER*/

.contact-list-footer{
    display: flex;
    padding: 0;
    margin-left: auto;
    flex-direction: column;
}



.mail-footer,
.phone-number-footer {
    color: var(--rgba-footer);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.phone-number-footer:hover,
.phone-number-footer:focus,
.mail-footer:hover,
.mail-footer:focus {
    color: var(--accent-color)
}

.footer-social {
    margin-left: 70px;
}

.footer-social-text {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-background-color);
    margin-bottom: 20px;
}

.footer-social-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-social-item:not(:last-child) {
    margin-right: 10px;
}

.footer-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: var(--accent-color)
}

.footer-social-icon {
    fill: var(--primary-background-color);
}


.backdrop.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: relative;
    background-color:rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: absolute;
    width: 528px;
    height: 581px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color: #fff;
}

.modal-close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
}

/* backgroung */

.footer {
    background: var(--hero-background);
}

.header {
    background: var(--primary-background-color);
}

.our-team-item {
    background: var(--primary-background-color);
}

/* PORTFOLIO */

.list-categories{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;  
}

.categories-item:not(:last-child) {
    margin-right: 8px; 
}

.categories-item{
    text-align: center;
}



.button-categories{
    padding: 6px 22px;
}

.button-categories{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;

    background: var(--portfolio-color-button);
    border-radius: 4px;
    cursor: pointer;
    padding: 6px 22px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-categories:hover,
.button-categories:focus{
    background: var(--accent-color);
    color: var(--primary-background-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px
}

/* PORTFOLIO AFTER BUTTON */

.portfolio-container{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    gap: 30px;
}

.portfolio-item {
    background: var(--primary-background-color);
    flex-basis: calc((100% - 60px) / 3);
}

.portfolio-item:not(:nth-child(3n)) {
    /* margin-right: 30px; */
}

.portfolio-item:not(:nth-last-child(-n+3)) {
    /* margin-bottom: 30px; */
}

.portfolio-item {
    background: var(--primary-background-color);
}

.portfolio-link {
    display: block;
    background-color: var(--primary-background-color);
    color: var(--primery-text-color);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover,
.portfolio-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list-img-wrapper {
    position: relative;
    overflow: hidden;
}

.portfolio-list-overlay {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    color: #FFFFFF;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    overflow: hidden;
    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover .portfolio-list-overlay,
.portfolio-link:focus .portfolio-list-overlay {
    transform: translateY(0%);
}

.portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    text-align: left;
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--text-color);
    text-align: left;
    margin-top: 4px;
}

.portfolio-card {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: var(--primary-background-color);
    border: 1px solid #EEEEEE
}