:root {
    --primery-text-color: #212121;
    --title-text-color: #212121;
    --text-color: #757575;
    --accent-color: #2196F3;
    --primary-background-color: #FFFFFF;
    --hero-background: #2F303A;
    --rgba-footer: rgba(255, 255, 255, 0.6);
    --portfolio-color-button: #F5F4FA;
}



body{
    font-family: 'Roboto', sans-serif;
    color: var(--primery-text-color);
    background-color: var(--primary-background-color);
}

h1, h2, h3, p {
    margin-top: 0;
    margin-bottom: 0;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    display: block;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
}

.button {
    cursor: pointer;
  }
    /* логотип  logo */

    .logo {
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        line-height: 1.2;
        letter-spacing: 0.03em;
    
        color: var(--accent-color);
        margin-right: 93px;;
    }
    
    .logo-dark {
        color: var(--primery-text-color);
    }
    
    .logo-light {
        color: var(--primary-background-color);
    }

        /* Шапка */

    .header {
        border-bottom: 1px solid #ECECEC;
        } 

    .header-container {
        display: flex;
        align-items: center; 
        padding-top: 24px;
        padding-bottom: 25px;
    
    }

    .navigation {
        display: flex;
        align-items: center;
    }

    /* menu */

    .menu {
        display: flex;
        padding: 0;
    }

     

    .contact-list {
        display: flex;
        padding: 0;
        margin-left: auto;
    }

    .contact-item:not(:last-child) {
        margin-right: 50px;
    }


    .menu-item{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    }

    .menu-item:not(:last-child) {
        margin-right: 50px;
    }
    
    .menu-link:hover,
    .menu-link:focus {
        color: var(--accent-color)
    }
    
    .menu-link {
        color: var(--primery-text-color)
    }
    
    .mail-header {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--text-color);
    }
    
    .mail-header:hover,
    .mail-header:focus {
        color: var(--accent-color)
    }
    
    .phone-number-header {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--text-color);
    }
    
    .phone-number-header:hover,
    .phone-number-header:focus {
        color: var(--accent-color);
    }
   

/* maine hero */
.hero{
    background-color:var(--hero-background);
    text-align:center;
    padding-top: 200px;
    padding-top: 200px;
    
    padding-bottom: 200px;

}

.hero-tite {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-background-color);
}


/* botton */

.hero-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;

    color: var(--primary-background-color);
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-top: 30px;
    padding: 10px 32px;
    cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;

    color: var(--primary-background-color);
    background: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

/* section class="description" */
.specialization-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.specialization-text {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;

    color: var(--text-color);
}

.specialization-item {
    flex-basis: calc((100% - 90px) / 4);
}
.specialization-list {
    display: flex;
    
}
.specialization-item:not(:last-child) {
    margin-right: 30px;
}

/* our work */

.our-team-item{
    flex-basis:calc((100% - 90px) / 3) ;
}

.our-work {
    padding-top: 0;
}

.our-work-list {
    display: flex;
    justify-content: center;
}

.our-work-item:not(:last-child){
    margin-right: 30px;

}


/* our team */

.our-team {
    background-color: var(--portfolio-color-button);
}

.our-team-item {
    background: var(--primary-background-color)
}

.our-team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.our-team-text {
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;

    color: var(--text-color);
}

/* footer */

.address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.contact-link {
    color: var(--primary-background-color);
}

.contact-link:hover,
.contact-link:focus {
    color: var(--accent-color)
}

/*MAIL*/

.mail-footer,
.phone-number-footer {
    color: var(--rgba-footer);
}

.phone-number-footer:hover,
.phone-number-footer:focus,
.mail-footer:hover,
.mail-footer:focus {
    color: var(--accent-color)
}

/* backgroung */

.footer {
    background: var(--hero-background);
}

.header {
    background: var(--primary-background-color);
}

.our-team-item {
    background: var(--primary-background-color);
}



.button-categories{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;

    background: var(--portfolio-color-button);
    border-radius: 4px;
    cursor: pointer;
}

.button-categories:hover,
.button-categories:focus{
    background: var(--accent-color);
    color: var(--primary-background-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px
}

.portfolio-item {
    background: var(--primary-background-color);
}

.portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--text-color);
}
