.our-work {
    padding-top: 0;
    &__text {
        position: absolute;
        display: flex;
        left: 0;
        bottom: 0;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 70px;
      
        background: rgba(47, 48, 58, 0.8);
      
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #ffffff;
      }
  }
  
  .our-work__list {
    display: flex;
    justify-content: center;
  }
  
  .our-work__item:not(:last-child) {
    margin-right: 30px;
  }
  
  .our-work__item {
    position: relative;
  }
  
