.our-team {
    background-color: var(--portfolio-color-button);
  }
  
  .our-team__item {
    background: var(--primary-background-color);
    flex-basis: calc((100% - 90px) / 3);
  }
  
  .our-team__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
  }
  
  .our-team__text {
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
  
    color: var(--text-color);
  }
  
  .our-team__list {
    display: flex;
    justify-content: center;
  }
  
  .our-team__card {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  .our-team__item:not(:last-child) {
    margin-right: 30px;
  }
  
  .our-team__item {
    background: var(--primary-background-color);
    flex-basis: calc((100% - 90px) / 4);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  
  .our-team__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .our-team__text {
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 16px;
    color: var(--text-color);
  }
  
  .our-team {
    background-color: var(--portfolio-color-button);
  }

  .social-list {
    display: flex;
    justify-content: center;
  }
  
  .social-list__item:not(:last-child) {
    margin-right: 10px;
  }
  .social-list__icon {
    fill: var(--social-icon-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .social-list__link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--primary-background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-background-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .social-list__link:hover,
  .social-list__link:focus {
    background-color: var(--accent-color);
  }
  
  .social-list__link:hover .social-list__icon,
  .social-list__link:focus .social-list__icon {
    fill: var(--primary-background-color);
  }
  
  .social-list__icon {
    fill: var(--social-icon-color);
  }
  