.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
  
    color: var(--accent-color);
    margin-right: 93px;
  }
  
  .logo__dark {
    color: var(--primery-text-color);
  }
  
  .logo__light {
    color: var(--primary-background-color);
  }