.menu {
    display: flex;
    padding: 0;
  }
  
  .contact {
    display: flex;
    padding: 0;
    margin-left: auto;
  }
  
  .contact:not(:last-child) {
    margin-right: 50px;
  }
  
  .menu__item {
    position: relative;
    /* font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em; */
  }
  
  .menu__item:not(:last-child) {
    margin-right: 50px;
  }
  
  .menu__link.current {
    color: var(--accent-color);
  }
  
  .menu__link.current::after {
    position: absolute;
    display: inline-block;
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    left: 0;
    bottom: -1px;
  
    background-color: var(--accent-color);
  }
  
  .menu__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  
    color: var(--primery-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    padding: 32px 0;
  }
  
  .menu__link:hover,
  .menu__link:focus {
    color: var(--accent-color);
  }
  
  .menu__mail.current::after {
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    left: 0;
    bottom: -32px;
  
    background-color: var(--accent-color);
  }
  
  .menu__mail:hover,
  .menu__mail:focus {
    color: var(--accent-color);
  }
  
  .menu__icone {
    margin-right: 10px;
    fill: var(--text-color);
  }