.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* position: relative;  */
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal {
    position: absolute;
    width: 528px;
    height: 581px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color: #fff;
    padding: 40px;
  }
  
  .modal__close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
  }
  
  .modal__close-button:hover .modal__close-button_icon,
  .modal__close-button:focus .modal__close-button_icon {
    fill: var(--accent-color);
  }
  
  .modal__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 12px;
  
    color: var(--title-text-color);
  }
  
  .modal__label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .modal__text {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
  
    margin-bottom: 4px;
    color: var(--text-color);
  }
  
  .modal__input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .modal__input:focus {
    outline: none;
    border-color: var(--accent-color);
  }
  
  .modal__textarea {
    display: block;
    resize: none;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .modal__textarea::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
  
    color: rgba(117, 117, 117, 0.5);
  }
  
  .modal__textarea:focus {
    outline: none;
    border-color: var(--accent-color);
  }
  
  .modal__wrapper {
    position: relative;
    /* display: block; */
  }
  
  .modal__input_icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .modal__input:focus + .modal__input_icon {
    fill: var(--accent-color);
  }
  
  .modal-policy {
    margin-bottom: 30px;
  }
  
  .modal-policy__lable {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .modal-policy__check {
    border: 2px solid #212121;
    border-radius: 3px;
    width: 16px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 7px;
  }
  
  .modal-policy__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color);
  }
  
  .modal-policy__link {
    color: var(--accent-color);
    border-bottom: 1px solid var(--accent-text-color);
  }
  
  .modal-policy__castom-check {
    border: 2px solid var(--primery-text-color);
    border-radius: 3px;
    width: 16px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 7px;
  }
  
  .modal-policy__check {
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .modal-policy__check:checked + .modal-policy__castom-check {
    border: 2px solid var(--accent-color);
    background-color: var(--accent-color);
  }
  
  .modal-policy__check:focus + .modal-policy__castom-check {
    border: 2px solid var(--accent-color);
  }
  
  .modal__button {
    background-color: var(--accent-color);
    color: var(--primary-background-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    display: block;
    width: 200px;
    height: 50px;
    margin: 0 auto;
    border-radius: 4px;
    border: 0px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .modal__button:hover,
  .modal__button:focus {
    background-color: #188ce8;
  }