.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }
  
  .portfolio-list__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    gap: 30px;
  }
  
  .portfolio-list__item {
    background: var(--primary-background-color);
    flex-basis: calc((100% - 60px) / 3);
  }
  
   .portfolio-list__item:not(:nth-child(3n)) {
     margin-right: 30px; 
   }
  
   .portfolio-list__item:not(:nth-last-child(-n+3)) { 
   margin-bottom: 30px; 
   }
  
  .portfolio-list__item {
    background: var(--primary-background-color);
  }
  
  .portfolio-list__link {
    display: block;
    background-color: var(--primary-background-color);
    color: var(--primery-text-color);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .portfolio-list__link:hover,
  .portfolio-list__link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  
  .portfolio-list__img-wrapper {
    position: relative;
    overflow: hidden;
  }
  
  .portfolio-list__overlay {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    color: #ffffff;
  
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    overflow: hidden;
    background-color: rgba(33, 150, 243, 0.9);
  
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .portfolio-list__link:hover .portfolio-list__overlay,
  .portfolio-list__link:focus .portfolio-list__overlay {
    transform: translateY(0%);
  }
  
  .portfolio-card__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    text-align: left;
  }
  
  .portfolio-card__text {
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--text-color);
    text-align: left;
    margin-top: 4px;
  }
  
  .portfolio-card {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: var(--primary-background-color);
    border: 1px solid #eeeeee;
  }