body {
    font-family: 'Roboto', sans-serif;
    color: var(--primery-text-color);
    background-color: var(--primary-background-color);
  }
  
  h1,
  h2,
  h3,
  p {
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
  }
  
  ul,
  ol {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  img {
    display: block;
    width: 100%;
  }
  
  .list {
    list-style: none;
  }
  
  .link {
    text-decoration: none;
  }
  