:root {
    --primery-text-color: #212121;
    --title-text-color: #212121;
    --text-color: #757575;
    --accent-color: #2196F3;
    --primary-background-color: #FFFFFF;
    --hero-background: #2F303A;
    --rgba-footer: rgba(255, 255, 255, 0.6);
    --portfolio-color-button: #F5F4FA;
    --background-color: #C4C4C4;
    --social-icon-color: #AFB1B8;
}